.tab-highlight {
  border-color: #B7B7B7 !important;
  border-bottom-color: transparent !important;
}

.tab-highlight .tab-link {
  background: #ECEBEA;
  border-color: #fff;
  border-bottom-color: transparent;
  color: #333331;
}

.custom-content {
  margin: 0 15px;
}

.custom-content .section-wrap {
  padding: 15px !important;
}

.custom-content iframe {
  border: 0px solid;
  width: 100%;
  height: 1200px;
  box-sizing: border-box;
}

.custom-content h4 {
  margin-top: 2em;
}

.custom-configuration-content .rounded-section {
  padding: 1em;
  width: auto;
}

.custom-configuration-content .custom-content-container {
  max-width: 900px;
  margin: auto;
}

.custom-configuration-content h4 {
  border-bottom: 1px solid #aaa;
}

.available-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.available-tab .icon {
  width: 64px;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 2em;
}

.available-tab p {
  flex: 1;
}

.available-tab button {
  margin-top: 0;
  background: transparent;
  border: 0;
}

.available-tab button:hover {
  margin-top: 0;
  background: transparent;
  border: 0;
  text-decoration: underline;
}

.sideload-container {
  overflow: auto;
}

.sideload-container button {
  float: right;
}

.custom-content .company {
  font-size: 1.2rem;
  margin-bottom: .5em;
  display: flex;
  align-items: center;
}

.custom-content .company img {
  height: 32px;
  margin-right: .5em;
}

.popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-tip {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  position: relative;
}

.popup-tip:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border: 9px solid transparent;
  border-bottom: 9px solid white;
  left: -9px;
  top: -7px;
}

.popup-body {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  background-color: white;
}