.tab-highlight {
  border-color: #B7B7B7 !important;
  border-bottom-color: transparent !important;
}

.tab-highlight .tab-link {
  background: #ECEBEA;
  border-color: #fff;
  border-bottom-color: transparent;
  color: #333331;
}

.custom-content {
  margin: 0 15px;
}

.custom-content iframe {
  border: 1px solid;
  width: 100%;
  height: 800px;
  box-sizing: border-box;
}

.custom-configuration-content h4 {
  margin-bottom: 1em;
}

.available-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

.available-tab img {
  width: 200px;
}

.available-tab button {
  margin-top: 0;
  background: transparent;
  border: 0;
}